name: Go

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

permissions:
  contents: read

jobs:

  build:
    name: Build + Test Stable
    runs-on: ubuntu-latest
    env:
      GO111MODULE: auto
    steps:

    - name: Harden Runner
      uses: step-security/harden-runner@a4aa98b93cab29d9b1101a6143fb8bce00e2eac4 # v2.7.1
      with:
        egress-policy: audit

    - name: Build
      uses: actions/setup-go@cdcb36043654635271a94b9a6d1392de5bb323a7 # v5.0.1
      with:
        go-version: '1.22.x'

    - name: Check out code into the Go module directory
      uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4.1.6

    - name: Build
      run: go build -v ./...

    - name: Test
      run: go test ./... -race -coverprofile=coverage.txt -covermode=atomic

    - name: Coverage
      uses: codecov/codecov-action@e28ff129e5465c2c0dcc6f003fc735cb6ae0c673 # v4.5.0
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

  build-legacy:
    name: Build + Test Previous Stable
    runs-on: ubuntu-latest
    env:
      GO111MODULE: auto
    steps:

    - name: Harden Runner
      uses: step-security/harden-runner@a4aa98b93cab29d9b1101a6143fb8bce00e2eac4 # v2.7.1
      with:
        egress-policy: audit

    - name: Build
      uses: actions/setup-go@cdcb36043654635271a94b9a6d1392de5bb323a7 # v5.0.1
      with:
        go-version: '1.21.x'

    - name: Check out code into the Go module directory
      uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4.1.6
      
    - name: Build
      run: go build -v ./...

    - name: Test
      run: go test ./... 
