name: Go

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

permissions:
  contents: read

jobs:

  build:
    name: Build + Test Stable
    runs-on: ubuntu-latest
    env:
      GO111MODULE: auto
    steps:
    - name: Build
      uses: actions/setup-go@41dfa10bad2bb2ae585af6ee5bb4d7d973ad74ed # v5.1.0
      with:
        go-version: '1.22.x'

    - name: Check out code into the Go module directory
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

    - name: Build
      run: go build -v ./...

    - name: Test
      run: go test ./... -race -coverprofile=coverage.txt -covermode=atomic

    - name: Coverage
      uses: codecov/codecov-action@7f8b4b4bde536c465e797be725718b88c5d95e0e # v5.1.1
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

  build-legacy:
    name: Build + Test Previous Stable
    runs-on: ubuntu-latest
    env:
      GO111MODULE: auto
    steps:
    - name: Build
      uses: actions/setup-go@41dfa10bad2bb2ae585af6ee5bb4d7d973ad74ed # v5.1.0
      with:
        go-version: '1.21.x'

    - name: Check out code into the Go module directory
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      
    - name: Build
      run: go build -v ./...

    - name: Test
      run: go test ./... 
